<!Doctype html>
<html>
<head>
  <link rel="stylesheet" href="style.css" />
  <title>Farsad's Store</title>
 </head>
<body>
      <div class="grid-container">
        <header class="header">
          <div class="brand">
            <a href="index.html">Farsad's Store</a>
          </div>
          <div class= "header-links">
            <a href ="cart.html">Cart</a>
            <a href="signin.html">Sign in</a>
          </div>
        </header>
        <main class="main">
          <div class="content">
            <ul class="products">
              <li>
                <div class="product"> 
                  <img class="image" src="ssd.jpg">
                  <div class="product-name">
                    <a href="product.html"> SSD 256gb </a>
                  </div>
                  <div class= "brand"> WD</div>
                  <div class="price">$30</div>
                  <div class="rating">3.5 stars</div>
               </div>
              </li>
              <li>
                <div class="product"> 
                  <img class="image" src="Sandisk.jpg">
                  <div class="product-name">
                    <a href="product.html"> SSD 120GB </a>
                  </div>
                  <div class= "brand"> Sandisk</div>
                  <div class="price">$17</div>
                  <div class="rating">2.2 stars</div>
               </div>
              </li>
              <li>
                <div class="product"> 
                  <img class="image" src="Transcend.jpg">
                  <div class="product-name">
                    <a href="product.html"> SSD 128gb </a>
                  </div>
                  <div class= "brand"> Transcend</div>
                  <div class="price">$20</div>
                  <div class="rating">3 stars</div>
               </div>
              </li>
              <li>
                <div class="product"> 
                  <img class="image" src="HP.jpg">
                  <div class="product-name">
                    <a href="product.html"> SSD 128gb </a>
                  </div>
                  <div class= "brand"> HP</div>
                  <div class="price">$25</div>
                  <div class="rating">3.5 stars</div>
               </div>
              </li>
              <li>
                <div class="product"> 
                  <img class="image" src="WD BLUE.png">
                  <div class="product-name">
                    <a href="product.html"> SSD 240gb </a>
                  </div>
                  <div class= "brand"> WD BLUE</div>
                  <div class="price">$28</div>
                  <div class="rating">2.5 stars</div>
               </div>
              </li>

            </ul>
          </div>
        </main>
      </div>    
</body>
      </html>