<!Doctype html>
<html>
<head>
  <link rel="stylesheet" href="style.css" />
  <title>Farsad's Store</title>
 </head>
 
<body>
      <div class="grid-container">
        <header class="header">
          <div class="brand">
            <a href="index.html">Farsad's Store</a>
          </div>
          <div class= "header-links">
            <a href ="cart.html">Cart</a>
            <a href="signin.html">Sign in</a>
          </div>
        </header>
        <main class="main">
          <ul>
            <li> Gadget 1</li>
            <li> Gadget 2</li>
            <li> Gadget 3</li>
            <li> Gadget 4</li>
            <li> Gadget 5</li>
          </ul>
        </main>
      </div>    
</body>
      </html>